<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tailbone Localhost</title>

    <!-- Bootstrap core CSS -->
    <link href="scripts/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="template.css" rel="stylesheet">
    <link href="spinners.css" rel="stylesheet">

</head>

<body>

  <div id="tailboneapp">
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tailbone</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">localhost</a></li>
            <li><a data-toggle="modal" role="button" href="#readme">README</a></li>
            <li><a href="#contact">Github</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <header>

    </header>

    <section id="main">

      
    <div class="container">
       <div class="row">
          <div class="col-md-12">   
            <div id="instructions">
            </div>
          </div>
       </div>
      <div class="starter-template">
        <div class="row">
          <!-- APP SPINNER -->
            <div id="circularG" class="app-loader">
              <div id="circularG_1" class="circularG">
              </div>
              <div id="circularG_2" class="circularG">
              </div>
              <div id="circularG_3" class="circularG">
              </div>
              <div id="circularG_4" class="circularG">
              </div>
              <div id="circularG_5" class="circularG">
              </div>
              <div id="circularG_6" class="circularG">
              </div>
              <div id="circularG_7" class="circularG">
              </div>
              <div id="circularG_8" class="circularG">
              </div>
            </div>

        </div>
        <div class="row" id="files-logs">
          <div class="col-md-4">
            <!-- FILE LIST HERE -->
            <div id="file-container">
                <div id="file-list" class="list-group panel panel-info">
                <div class="panel-heading">Watched Files</div>
                </div>

            </div>
          </div>
          <div class="col-md-8 ">
          <div class="panel panel-default panel-primary">
            <div id="logline-name" class="panel-heading">(*)</div>
            <!-- LOG LOADING SPINNER -->
            <div id="fountainG" class="log-loader">
              <div id="fountainG_1" class="fountainG">
              </div>
              <div id="fountainG_2" class="fountainG">
              </div>
              <div id="fountainG_3" class="fountainG">
              </div>
              <div id="fountainG_4" class="fountainG">
              </div>
              <div id="fountainG_5" class="fountainG">
              </div>
              <div id="fountainG_6" class="fountainG">
              </div>
              <div id="fountainG_7" class="fountainG">
              </div>
              <div id="fountainG_8" class="fountainG">
              </div>
            </div>
            
            <!-- LOG LIST HERE -->
            <div id="log-container">
            <ul id="logline-list" class="list-group"></ul>
            </div>
          </div>
          </div>
        </div>
      </div>

    </div><!-- /.container -->
    </section>

    <footer>
      <!-- footer -->
    </footer>

<!--README Modal -->
  <div class="modal fade" id="readme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">README - Tailbone</h4>
        </div>
        <div class="modal-body">
    <ul>
      <li>File list will populate with files being watched on the
      server.</li>
      <li>Active file shows up on the right log panel.</li>
      <li>Click file from file list on left to activate it on the right.</li>
      <li>When upate is recieved from server, it will be automatically
      added.</li>
      <li>If the log line is associated with the active file, the log
      panel will automitically scroll to the added item.</li>
      <li>If the log line is associated with an inactive file, it will
      be hidden until that file become active.</li>
    </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!--Connection Error Modal -->
  <div class="modal fade" id="errorModal" role="dialog" aria-labelledby="connectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Connection</h4>
        </div>
        <div class="modal-body">
          An error has occurred with the server connection.<br /> Please try
          again later, thank you!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  </div>

  

  <!--script src="../backbone/examples/backbone.localStorage.js"></script>
  <script src="./vendor/json2.js"></script>
  <script src="./vendor/jquery.js"></script>
  <script src="./vendor/underscore.js"></script>
  <script src="./vendor/backbone.js"></script>
 
  <script src="./vendor/moment.js"></script-->
  <script data-main="scripts/main.js" src="scripts/vendor/requirejs/require.js"></script>


 
  <!-- Templates -->
  <script type="text/template" id="file-template"><%= name %>
  </script>

  <script type="text/template" id="logline-template">
      <span class="text"><%= lineText %></span>
  </script>

  </body>
</html>
