body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

div#log-container{
    // width: 240px;
    min-height:350px;
    max-height:350px;
    overflow:scroll;
}